#navbar{
    border: 0px solid blue;
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(2,1fr);
}
  
 
  #logoff{
    width: 200px;
    display: grid;
    justify-content: center;
    text-align: center;
  /*margin: auto;*/

  }

  

  #logoff >div img{
    width: 15%;
  }

  
  #logoff>div>#log{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
    visibility:hidden;
    text-decoration:none ;
    background-color: whitesmoke;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
  }

  #log > a{
    color: black;
    text-decoration:none ;
  }

  #close-btntwo{
    justify-self:right;
  }

  #login-form{
margin: 10px;
  }
  form{
  
  display: grid;
}

   