#back_to_shop{
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
    text-decoration: none;
    color: #333333;
    text-decoration: underline;
}
.cart_page{
    width: 1000px;
    margin: auto;
}
.cart-page h1,p,h4,h5,h3,h2,a{
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
}
#cart_product_div{
    /* border: 1px solid black; */
    margin-top: 30px;
}
.shop_bag{
    font-size: 30px;
    color: #666666;
}
/* .rowgroup{
    border: 1px solid black;
} */
.cart-line-items-headings {
    background-color: #f2f2f2;
    /* display: none; */
}
.cart-line-items-headings {
    display: flex;
}
.section-header.item {
    padding-right: 14.5px;
    box-sizing: border-box;
    width: 500.5px;
    /* border: 1px solid red; */
    display: flex;
    padding: 2px 0px 2px 5px;
}
.header-price {
    /* border: 1px solid blue; */
    width: 86px;
    /* text-align: center; */
}
.header-qty {
    /* border: 1px solid purple; */
    width: 242px;
    text-align: center;
}
.header-total-price {
    /* border: 1px solid yellow; */
    text-align: right;
    padding-right: 20px;
    margin-right: auto;
    width: 167.5px;
    box-sizing: border-box;
}
/* #row{
    margin: auto;
    border: 1px solid red;
} */
.rowgroup{
    width: 900px;
    /* border: 1px solid black; */
    margin: auto;
}

.pro_img{
    /* border: 1px dotted peru; */
    width: 350px;
    height: 150px;
    /* padding: 7px; */
    /* display: block; */
    /* max-width: 100px; */
    /* max-height: 190px; */
    /* vertical-align: top; */
    /* margin: 0 auto; */
    /* margin: 0; */
}
.pro_img img{
    display: block;
    /* border: 1px solid red; */
    margin-left: 45px;
    width: 40%;
    height: 100%;
}

.item-details{
    /* border: 1px dotted black; */
    width: calc((100vw - 40px) * .42 - 150px);
    padding-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
}
.item-details p:nth-child(3){
    word-wrap: break-word;
    color: red;
    font-size: 12px;
    text-decoration: none;
    /* color: #666666; */
    text-decoration: underline;

}
.item-details p:nth-child(2) {
    margin-top: -15px;
    /* font-size: 15px; */
    font-size: 12px;
    color: #666666; 
}
.item-details p:nth-child(1){
    font-size: 16px;
}
.item-details button{
    border: 0px;
    background-color: white;
    margin-top: 10px;
    /* text-decoration: underline; */
}
.pro_div{
    color: #333333;
    /* border: 1px solid brown; */
    display: flex;   
    width: 435px;
    height: 150px;
    margin-top: 15px;
    padding: 5px;
    /* gap: 10px; */
}
.product{
    /* border: 1px solid black; */
    display: flex;
}
.product>div:nth-child(2){
    width: 78px;
    font-size: 18px;
    /* text-align: center; */
    /* border: 1px solid black; */

}
.product>div:nth-child(3){
    /* border: 1px solid black; */
    width: 218px;
    text-align: center;
    padding-top: 20px;
}
.product>div:nth-child(3) input{
    width: 50px;
    text-align: center;
    font-size: 30px;
    padding: 5px 10px;
    border: 0;
    background-color: #f2f2f2;
    color:#666666
}
.product>div:nth-child(4){
    /* border: 1px solid brown; */
    width: 150px;
    text-align: center;
    font-weight: bold;

}
.product>div:nth-child(5) button{
    /* border: 1px solid saddlebrown; */
    /* background-color: #f2f2f2; */
    background-color: white;
    border: 0;
    margin-top: 15px;
}

#empty_bag{
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
    text-align: center;
    color: #666666;
    margin-bottom: 350px;
}



















/* pro code & payment*/
#bottom_part_cart{
    display: flex;
    width: 900px;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin: auto;
}
.pro_code{
    color: #666666;
    border: 1px solid #666666;
    padding: 22px 20px 30px;
    width: 350px;
}
.pro_code h4{
    color: #333333;
}
.pro_code input{
    padding: 10px 20px;
}
.pro_code button{
    margin-left: 1px;
    padding: 9px 30px;
    color: #FFFFFF;
    background-color: #333333;
    font-size: 15px;
}
.order_total{
    border: 1px solid black;
    color: #333333;
    display: flex;
    width: 450px;
    justify-content: space-around;
}
#buy_product{
    margin-left: 1px;
    padding: 9px 30px; width: 100%;
    color: #FFFFFF;
    background-color: #333333;
    font-size: 15px;
}
#bottom_part_cart>div:nth-child(2){
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#bottom_part_cartdiv:nth-child(2)>button{
    border: 1px solid pink;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}