
/*this code should be in navbar.css file*/

body{

  padding: 0px;
  margin: 0px;
display: flex;
  font-family: "Trade Gothic W01 Light", Arial, sans-serif;
  justify-content: center;
  align-items: center;
}

/*gauri code*/
#logoff{
  margin-top: 300px;
  margin-right: 600px;
  width: auto;
  display: grid;
  justify-content: center;
  text-align: center;
/*margin: auto;*/
opacity: 1; 

}



#logoff >div img{
  width: 16%;
}


#logoff>div>#log{

  display: grid;
  justify-content: center;
  align-items: center;
  border: 0px solid green;
  visibility:hidden;
  text-decoration:none ;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align:center;
  cursor: pointer;
  opacity: 1;
}


#log > a{
  color: black;
  text-decoration:none ;
  gap: 4px;
}
#log>.anc:hover {
  background-color: #ddd;
  color: black;
}



#login-form{
  color:black;
margin: 10px;
}
form{
  color: black;
display: grid;
}
h5{
  font-family: Trade Gothic W01 Light,Arial,sans-serif;
  color: #333;
  text-transform: uppercase;
}

#login{
  color: white;
  background-color: #333333;
  border: none;
  height: 30px;
  
}

#close-btntwo{
  justify-self: right;
  color: white;
  background-color: #333333;
  width: 30px;
  height: 20px;
}

/*gauri code*/

#promo_section{
  height: 50px;
  display: flex;
  justify-content: space-between;
  color: #005699;

}

  #promo_section img{
      height: 100%;
      width: 30%;
  }

#pickup_store{

  background-color: #F2F2F2;


  height: 40px;


  display: flex;
  justify-content: space-between;
  justify-items: center;
  font-size: 14px;

  padding-left: 10px;
  padding-right: 10px;

}

  #pickup_store_div_1{

      width: 22%;
      display: flex;
      justify-content: space-evenly;


  }

  #pickup_store_div_2{

      width: 18%;
      display: flex;
      justify-content: space-evenly;

  }

  #pickup_store_div_2 i{
      margin-top: 15px;
  }

#navbar_section_top{

  width: 100%;
  height: 70px;

  /* border: 2px solid red; */


  display: flex;

}
  #navbar_section_top_left{

      /* border: 2px solid green; */

      width: 70%;

      display: flex;
      justify-content:center;

  }

  #navbar_section_top_left img{

  width: 20%;
  margin-right: 180px;

  }

  #navbar_section_top_right{

      /* border: 2px solid green; */

      width: 30%;

      display: flex;

      justify-content: space-around;
      align-items: center;

  }

  #navbar_section_top_right input{

      border: 0px;
      height: 20px;
      width: 250px;

  }

  #search{

      border: 1px solid gray;
      padding: 5px;
  }

#navbar_section_bottom{

  display: flex;
  justify-content: space-around;

}

#navbar_section_bottom > p {

  padding: 10px;
  color: gray;
  font-size: 13px;

}

#navbar_section_bottom > p:last-child {

  padding: 10px;
  color: #AF0103;

}

#navbar_section_bottom > p:hover{

  cursor:default;

  border-bottom: 3px solid #005699;

}


