#navbar{
  /* border: 0px solid blue;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(2,1fr); */

  position: relative;
}

#profile{

  /* border: 2px solid yellow; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 50px;

}


#logoff{

  /* background-color: yellow; */

  width: 200px;
  display: grid;
  justify-content: center;
  text-align: center;

  position: absolute;
/*margin: auto;*/

}



#logoff > div img{
  width: 10%;
}


#logoff>div>#log{
  display: grid;
  justify-content: center;
  align-items: center;
  border: 0px solid green;
  visibility:hidden;
  text-decoration:none ;
  background-color: whitesmoke;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 
}

#log > a{
  color: black;
  text-decoration:none ;
}

#log {

  padding-left: 20px;
  padding-right: 20px;

  /* margin-right: 100px; */

}

#log input{

  padding: 5px;

}

#log button{

  margin: 20px;
  padding: 10px;

  border-radius: 10px;
  border: 1px solid black;
  background-color: black;
  color: white;
}

#close-btntwo{
  justify-self:right;
}

#login-form{

  margin: 10px;
}

form{

display: grid;
}
