
#body{
  margin: 5px;
}
#order{
    border: 0px solid salmon;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    height: auto;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
   
  
}

#order_logo{
 height: 130px;
 width: 1000px;
}
#forms{
    display: grid;
    justify-content: center;
    align-items: center;
    margin:20px;
}

#register-form >form {
   
    display: grid;
  width:auto;
  padding: 10px;
  text-align: left;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#register-form >form > p{
  font-family: Trade Gothic W01 Light,Arial,sans-serif;
  color: #333;
  text-transform: uppercase;
}

 label {
  color: black;
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 6px;
  line-height: 1;
  text-align: left;
}

span{
    color: black;
}
input,
textarea {
  width:auto;
  
  border: 1px solid #ced1d6;
  
  box-sizing: border-box;
  margin: 6px 0px 5px 0px;
  resize: vertical;
  color: black;
  
}

h4{
  background-color: skyblue;
  color: darkblue;
}
button{
  margin: auto;
  height: 40px;
  width:300px;
  border: none;
  background-color:#333333 ;
  color: white;
   font-size: 20px;
   font-family: 'Montserrat', sans-serif;
 
 
  
}
button:hover{
  background-color: white;
  color: #333333;
  border:0.5px solid #ced1d6;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: black;
 margin-top: 60px;
}
#span_div{
  margin: 5px;
  display: grid;
}