
#body{
  margin: 5px;
}

#sign_up{
    border: 0px solid salmon;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    height: auto;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
}


#sign_logo{ 
    height: 140px;
    margin:10px;
}

#sign_up #forms{
    display: grid;
    justify-content: center;
    align-items: center;
  margin:auto;
  text-align: left;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


#register-form  #rform {
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
 
}

#register-form p{
  font-family: Trade Gothic W01 Light,Arial,sans-serif;
  color: #333;
  text-transform: uppercase;
}


#rform label {
  color: black;
  font-size: 16px;
  margin-bottom: 6px;
  line-height: 1;
}

span{
    color: black;
}
#rform input,
textarea {
  border: 1px solid #ced1d6;
  box-sizing: border-box;
  resize: vertical;
  color: black;
  height: 30px;
  width: 400px;
  font-size: 14px;
  
}

h4{
  background-color: skyblue;
  color: darkblue;
}
 button{
  margin: auto;
  height: 40px;
  width:300px;
  border: none;
  background-color:#333333 ;
  color: white;
   font-size: 20px;
   font-family: 'Montserrat', sans-serif;
 
 
  
}
 button:hover{
  background-color: white;
  color: #333333;
  border:0.5px solid #ced1d6;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: black;
 margin-top: 60px;
}
#register{
  display: grid;
  justify-content: center;
  align-items: center;


}
#register>img{
  height: 200px;
  margin: auto;
}
#register-form{
  visibility:visible;
 padding:10px;
}
#span_div{
  margin: 5px;
  display: grid;
}